<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      background-color: #fff;
      height: 100%;
    "
  >
    <div style="
      height: 100%;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 600px;
    ">
      <div
        style="
        background-color: #EDEDED;
        border-radius: 6px;
        min-height: 300px;
        color: #828282;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 7%);
        "
      >
        <div style="padding-top: 40px; padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
          <img style="max-width: 100%; height: 50px; padding-bottom: 80px;" src="http://drive.google.com/uc?export=view&id=1iGLhuFT0TQvxpREo00syFTXANbKYLteB" />
          <p style="font-size: 18px;">
            {% block content %}{% endblock %}
          </p>

          <p style="color: #828282; text-align: center; font-size: 12px; margin-top: 50px;">
            Você está recebendo este e-mail porque você assinou para receber atualizações e informações sobre o nosso produto. Caso não queira mais receber nossos contatos, por favor, <a href="#" style="color: #E50046; text-decoration: none;">clique aqui</a>.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
