{% extends "emails/base_template.html" %}

{% block content %}
    <p>
        Olá, <strong> {{name}} </strong>! Tudo bem?
    </p>

    <p>
        Acabamos de receber sua solicitação para ajudá-lo(a) a encontrar uma conexão que possa compartilhar experiências sobre {{challenge}}.
    </p>

    <p>
        Fique ligado(a) em sua caixa de e-mail e em até 48 horas entraremos em contato para falar sobre sua conexão.
    </p>

    <p>
        Atenciosamente, <strong> Helena. </strong>
    </p>
{% endblock %}