{% extends "emails/base_template.html" %}

{% block content %}
    <p>
        Hello, <strong>{{name}}</strong>! How are you?
    </p>

    <p>
        Unfortunately, your connection was canceled due to lack of interaction from one of the parties. This usually happens when someone on the connection takes too long to suggest or accept an appointment or even due to lack of interest in the connection.
    </p>

    <p>
        We sincerely apologize for what happened and hope that the next connection works out.
    </p>

    <p>
        Regards,<strong>Helena.</strong>
    </p>
{% endblock %}