{% extends "emails/base_template.html" %}

{% block content %}
    <p>
        Olá, <strong>{{name}}</strong>! Como você está?
    </p>

    <p>
        Infelizmente, sua conexão foi cancelada devido à falta de interação de uma das partes. Isso geralmente acontece quando alguém na conexão demora muito para sugerir ou aceitar um compromisso ou até mesmo por falta de interesse na conexão.    </p>
    <p>
        Pedimos desculpas pelo que aconteceu e esperamos que a próxima conexão funcione.
    </p>

    <p>
        Atenciosamente, <strong>Helena.</strong>
    </p>
{% endblock %}