{% extends "emails/base_template.html" %}


{% block content %}
    <p>
        Olá, <strong>{{learner_name}}</strong>! Como você está?
    </p>

    <p>
        O seu mentor acabou de sugerir uma data para sua conexão. Para aceitar ou recusar a data, clique no botão abaixo.
    </p>

    <p>
        <button>Acessar a conexão</button>
    </p>

    <p>
        <strong>Caso você não responda esse e-mail em até 48 horas, sua conexão será cancelada automaticamente.</strong>
    </p>

    <p>
        Atenciosamente, <strong>Helena.</strong>
    </p>
{% endblock %}