{% extends "emails/base_template.html" %}
{% from "components/primary_button.html" import primary_button with context %}

{% block content %}
    <p>
        Olá, <strong>{{name}}</strong>! Como você está?
    </p>

    <p>
        Há alguns dias atrás, alguns usuários solicitaram conexões com pessoas que soubessem sobre <strong>{{challenge}}</strong> e após uma profunda análise da nossa inteligencia artificial, nós descobrimos que você seria a melhor pessoa para ensinar sobre esse assunto.
    </p>

    <p>
        E ai, você aceita esse desafio? Se sim, clique no endereço abaixo para recomendar os melhores dias e horários.
    </p>

    <p style="text-align: center;">
        {{connection_url}}
    </p>

    <p>
        Atenciosamente, <strong>Helena.</strong>
    </p>
{% endblock %}