{% extends "emails/base_template.html" %}

{% block content %}
    <p>
        Oi, {{name}}!
    </p>
    <p>
        Aqui é a <strong>Helena</strong>, a assistente virtual da <strong>Global Touch</strong>, tudo bem? Espero que sim!
    </p>
    <p>
        Seu cadastro na nossa plataforma foi concluído com sucesso! Obrigada!
    </p>
    <p>
        Estou fazendo esse primeiro contato para te falar que já estou analisando suas respostas e que em breve voltarei aqui para te conectar com outras pessoas, seja para compartilhar sua experiência, seja para aprender pela troca de experiências e assim superar seus desafios, ok?
    </p>
    <p>
       Até breve!
    </p>
{% endblock %}