{% extends "emails/base_template.html" %}

{% block content %}
    <p><h3>Olá, <strong>{{name}}</strong>!</h3></p>

    <p>Parece que você solicitou a alteração da senha de sua conta da Global Touch. Para fazer isso, clique no botão abaixo.</p>
    <p>Caso você não tenha solicitado a recuperação de senha, basta ignorar este e-mail.</p>

    <p style="
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;"
    >
        <a href="{{url}}" style="
            background-color: #2F2D47;
            color: #fff;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: none;
            font-weight: bold;"
        >
            Criar Senha
        </a>
    </p>

    <p>
        Atenciosamente, <strong>Helena.</strong>
    </p>
{% endblock %}