# A
alembic~=1.4.2
async-exit-stack~=1.0.1
async-generator~=1.10

# B
bcrypt~=3.1.7
cffi~=1.14.1
pycparser~=2.20
beautifulsoup4==4.9.1

# C
celery~=4.4.7

# D
databases~=0.3.2

# E
emails~=0.6

# F
fastapi~=0.60.1
Faker~=4.1.3

# I
i18n~=0.2

# J
jinja2~=2.11.3

# M
motor~=2.2.0
matplotlib~=3.3.0

# N
numpy

# P
pandas~=1.1.5
passlib~=1.7.2
PyJWT~=1.7.1
pydantic~=1.6.1
python-i18n~=0.3.7
python-multipart~=0.0.5
pyyaml~=5.3.1
python-dotenv~=0.14.0
pydash~=4.8.0
psycopg2-binary~=2.8.5
python-jose~=3.2.0
pydantic[email]
pydantic[email]
pika~=1.1.0
pytest==6.0.1

# R
requests~=2.24.0

# S
starlette~=0.13.6
SQLAlchemy~=1.3.18
seaborn~=0.10.1
scikit-learn~=0.23.1
sqlalchemy_seed~=0.3.0
setuptools~=49.6.0
sentry-sdk==0.19.5
SQLAlchemy-serializer
supervisor==4.2.2

# T
top2vec~=1.0.10

# U
uvicorn~=0.11.8
gensim~=3.8.3


DateTime~=4.3
pymongo~=3.11.3
rollbar~=0.15.2